* {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: white;
        rgba(236, 238, 237, 0.89);
}

h1 {
    font-family: "Quicksand", sans-serif;
    align-content: center;
    font-size: 10em;
    z-index: -1;
    margin-top: -12em;
}

.container { z-index: -1;
    margin-top: 300px;
}



.container2{ 
    z-index: 1;
    align-content: center;
    position: absolute;
    top: 200px;
    left: 180px;

}



.potassium { margin-right:20px;
}
.neon {margin-right: 20px;}

.calcium {margin-left: 10px;
}

.helium {margin-left: 20px;}






/*-------














